<!DOCTYPE html>
<html>
<head>
<title>WSC'Event</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style1.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/font-awesome.css" rel="stylesheet">
<link href="static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="static/style1.css">


</head>

<body>
<div class="header" id="home">
	<div class="container">
		<ul><span style="margin-left: 5%"></span>
		    <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-map-marker" aria-hidden="true"></i> 9 Avenue Alain Savary, 21000 Dijon </a></li> <span style="margin-right: 5%"></span>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Tél : 03 80 39 60 09</li><span style="margin-right: 5%"></span>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">contact@wscevent.com</a></li>
		</ul>
	</div>
</div>

<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">

			<div class="col-md-4 logo_agile" style="margin-right: 30%">
				<h1><a href="/"><span>W</span>sc'Event <i class="fa fa-history" aria-hidden="true"></i></a></h1>
			</div>
		<div class="col-md-4 agileits-social top_content">
						<ul class="social-nav model-3d-0 footer-social w3_agile_social">
						                                   <li class="share">Nous suivre sur : </li>
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>

														</ul>



		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">

				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>

				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item--current"><a class="menu__link" href="/">Acceuil <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item menu__item"><a class="menu__link" href="/about">A propos</a></li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos services <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="reservation"><img src="static/images/top2.png" alt=" "/></a>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="/mariage">-> Mariage</a></li>
											<li><a href="/anniversaire">-> Anniversaires</a></li>
											<li><a href="/garcon">-> Enterrement de vie de jeune-garçon</a></li>
											<li><a href="/fille">-> Enterrement de vie de jeune-fille</a></li>
											<li><a href="/voyage">-> Nos voyages spatiaux</a></li>
										</ul>
									</div>

									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class=" menu__item"><a class="menu__link" href="/contact">Nous contacter</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
						<button class="w3view-cart" type="submit" name="submit" value=""> <i class="fa fa-fighter-jet" aria-hidden="true"></i></button><a href="/reservation"><b>Réservez</b></a></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<li data-target="#myCarousel" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<h3>Remontez dans le <span>temps</span></h3>
						<p>à travers vos évènements heureux</p>
						<a class="hvr-outline-out button2" href="reservation">Réservez-maintenant </a>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<h3>Faites vos demandes en <span>mariage</span></h3>
						<p>comme au bon vieux temps</p>
						<a class="hvr-outline-out button2" href="reservation">Réservez-maintenant </a>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<h3>Célébrer vos <span>mariages</span></h3>
						<p>à l'ancienne</p>
						<a class="hvr-outline-out button2" href="reservation">Réservez-maintenant </a>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<h3>Enterrez votre vie de <span>jeune-garçon</span></h3>
						<p>à travers un voyages dans l'antiquité</p>
						<a class="hvr-outline-out button2" href="reservation">Réservez-maintenant </a>
					</div>
				</div>
			</div>
			<div class="item item5">
				<div class="container">
					<div class="carousel-caption">
						<h3>Enterrez votre vie de  <span>jeune-fille</span></h3>
						<p>avec un voyage dans le passé</p>
						<a class="hvr-outline-out button2" href="reservation">Réservez-maintenant </a>
					</div>
				</div>
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
    </div>

    <br /> <br />

	<div class="banner_bottom_agile_info">
	 <h3 class="wthree_text_info">Nos <span>Prestations</span></h3>
	<div class="container">
		<div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/s1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>D</span>emande en mariage</h3>
								<p></p>
							</figcaption>
						</figure>
					</div>

					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/s2.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>C</span>élébration de mariage</h3>
								<p></p>
							</figcaption>
						</figure>
					</div>

					<div class="clearfix"></div>
		    </div>
	</div>
	<br/>
	<div class="container">
		<div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/s3.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>A</span>nniversaire</h3>
								<p></p>
							</figcaption>
						</figure>
					</div>

					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/s4.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>E</span>nterrement de vie de jeune-garçon/fille</h3>
								<p></p>
							</figcaption>
						</figure>
					</div>

					<div class="clearfix"></div>
		    </div>
	</div>
</div>

	<div class="new_arrivals_agile_w3ls_info">
		<div class="container">
		    <h3 class="wthree_text_info">WSC'Event <span>card</span></h3>
				<div id="horizontalTab">
						<ul class="resp-tabs-list">
							<li> Mariage</li>
							<li> Anniversaires</li>
							<li> Enterrement de vie de jeune-garçon</li>
							<li> Enterrement de vie de jeune-fille</li>
						</ul>
					<div class="resp-tabs-container">
						<div class="tab1">
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/m1.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/m1.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Angleterre</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage royal 1950</a></h4>
										<div class="info-product-price">
											<span class="item_price">45000€</span>
											<del>69000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/m2.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/m2.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Chine</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage chinois 1700</a></h4>
										<div class="info-product-price">
											<span class="item_price">50000€</span>
											<del>70000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>

                           	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/m3.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/m3.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Italie</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage italien 1900</a></h4>
										<div class="info-product-price">
											<span class="item_price">30000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>

                           	 	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/m4.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/m4.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Afrique du Sud</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage africain 1800</a></h4>
										<div class="info-product-price">
											<span class="item_price">35000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>

						<div class="tab2">
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/a1.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/a1.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">France</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Style français 1950</a></h4>
										<div class="info-product-price">
											<span class="item_price">45000€</span>
											<del>69000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
							<!--<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/f2.png" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/f2.png" alt="" class="pro-image-back">

											<span class="product-new-top">*</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage chinois</a></h4>
										<div class="info-product-price">
											<span class="item_price">50000€</span>
											<del>70000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>

                           	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/g3.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/g3.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">*</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage indien</a></h4>
										<div class="info-product-price">
											<span class="item_price">30000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
                           	 	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/g4.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/g4.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">*</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage africain</a></h4>
										<div class="info-product-price">
											<span class="item_price">35000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>-->
							<div class="clearfix"></div>


						</div>

						<div class="tab3">

							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/g1.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/g1.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Etats-Unis</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Epoque 1960</a></h4>
										<div class="info-product-price">
											<span class="item_price">45000€</span>
											<del>69000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/g2.png" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/g2.png" alt="" class="pro-image-back">

											<span class="product-new-top">Nouveau Mexique</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Style Cowboy - XVIème siècle </a></h4>
										<div class="info-product-price">
											<span class="item_price">50000€</span>
											<del>70000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>

                           	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/g3.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/g3.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Perse</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">IVème siècle avant J.S</a></h4>
										<div class="info-product-price">
											<span class="item_price">30000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>

                           	 	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/g4.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/g4.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Rome</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Combat romain 1500</a></h4>
										<div class="info-product-price">
											<span class="item_price">35000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>


						<div class="tab4">

							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/f1.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/f1.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Angleterre</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Style royale 1800</a></h4>
										<div class="info-product-price">
											<span class="item_price">45000€</span>
											<del>69000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
							<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/f2.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/f2.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">Espagne</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Style ancestral 1700</a></h4>
										<div class="info-product-price">
											<span class="item_price">50000€</span>
											<del>70000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>

                           	<!--<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/f2.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/f2.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">*</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage indien</a></h4>
										<div class="info-product-price">
											<span class="item_price">30000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>
                           	 	<div class="col-md-3 product-men">
								<div class="men-pro-item simpleCart_shelfItem">
									<div class="men-thumb-item">
										<img style="height: 250px" src="static/images/m4.jpg" alt="" class="pro-image-front">
										<img style="height: 250px" src="static/images/m4.jpg" alt="" class="pro-image-back">

											<span class="product-new-top">*</span>

									</div>
									<div class="item-info-product ">
										<h4><a href="/reservation">Mariage africain</a></h4>
										<div class="info-product-price">
											<span class="item_price">35000€</span>
											<del>50000€</del>
										</div>
										<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">

																<fieldset>
																	<a href="reservation"><input type="submit" name="submit" value="Réservez" class="button" /></a>
																</fieldset>

														</div>

									</div>
								</div>
							</div>-->
							<div class="clearfix"></div>

						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="sale-w3ls">
			<div class="container">
				<h6>Offrez-vous des <span style="color: red;">moments heureux</span> en remontant dans le temps</h6>

				<a class="hvr-outline-out button2" href="/reservation">Réservez-maintenant </a>
			</div>
		</div>

<div class="testimonials">
      <div class="inner">
        <h1>Ce que nos clients pensent de nous</h1>
        <div class="border"></div>

        <div class="row">
          <div class="col">
            <div class="testimonial">
              <img src="static/image/p1.png" alt="">
              <div class="name">Franck LEROIS</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
              <img src="static/image/p2.png" alt="">
              <div class="name">Daphnie ZIZOU</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>

          <div class="col">
            <div class="testimonial">
              <img src="static/image/p3.png" alt="">
              <div class="name">Anais DJANGO</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>

              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>




<br/><br/><br/>

<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<p class="copy-right">&copy 2019 WSC'Event. Tout droit réservé |  Réalisé par <a>M4TRIX</a></p>
	</div>
</div>

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>

<script src="static/js/modernizr.custom.js"></script>

	<script src="static/js/minicart.min.js"></script>
<script>
	paypal.minicart.render({
		action: '#'
	});
	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>


<script src="static/js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default',
	width: 'auto',
	fit: true,
	closed: 'accordion',
	activate: function(event) {
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>

	<script src="static/js/jquery.waypoints.min.js"></script>
	<script src="static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>

<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop',
				containerHoverID: 'toTopHover',
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>




<script type="text/javascript" src="static/js/bootstrap.js"></script>
</body>
</html>
