<!DOCTYPE html>
<html>
<head>
<title>WSC'Event</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>

<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style1.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/font-awesome.css" rel="stylesheet">
<link href="static/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css'/>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="style1.css">


</head>
<body>

<div class="header" id="home">
	<div class="container">
		<ul><span style="margin-left: 5%"></span>
		    <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-map-marker" aria-hidden="true"></i> 9 Avenue Alain Savary, 21000 Dijon </a></li> <span style="margin-right: 5%"></span>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Tél : 03 80 39 60 09</li><span style="margin-right: 5%"></span>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">contact@wscevent.com</a></li>
		</ul>
	</div>
</div>

<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">

			<div class="col-md-4 logo_agile" style="margin-right: 30%">
				<h1><a href="/"><span>W</span>sc'Event <i class="fa fa-history" aria-hidden="true"></i></a></h1>
			</div>

		<div class="col-md-4 agileits-social top_content">
						<ul class="social-nav model-3d-0 footer-social w3_agile_social">
						                                   <li class="share">Nous suivre sur : </li>
															<li><a href="#" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="#" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>

														</ul>



		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="ban-top">
	<div class="container">
		<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item--current"><a class="menu__link" href="/">Acceuil <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item menu__item"><a class="menu__link" href="/about">A propos</a></li>
					<li class="dropdown menu__item">
						<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nos services <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="/reservation"><img src="static/images/top2.png" alt=" "/></a>
									</div>
									<div class="col-sm-3 multi-gd-img">
										<ul class="multi-column-dropdown">
											<li><a href="/mariage">-> Mariage</a></li>
											<li><a href="/anniversaire">-> Anniversaires</a></li>
											<li><a href="/garcon">-> Enterrement de vie de jeune-garçon</a></li>
											<li><a href="/fille">-> Enterrement de vie de jeune-fille</a></li>
											<li><a href="/voyage">-> Nos voyages spatiaux</a></li>
										</ul>
									</div>

									<div class="clearfix"></div>
								</div>
							</ul>
					</li>
					<li class=" menu__item"><a class="menu__link" href="/contact">Nous contacter</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-fighter-jet" aria-hidden="true"></i></button><b>Réservez</b></div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

	<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3><span>Nos offres de </span > <b>Voyages spatiaux</h3>
	</div>
</div>

	<div class="banner_bottom_agile_info">
	 <h3 class="wthree_text_info"><span>Mega Stardurst 5210</span></h3>
	 <div class="col-md-12 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid" style="margin-left: 5%">
				 <p style="text-align: center;">Nous avons maintenant à notre disposition une navette spatiale que nous avons nommé : <b>Le Mega Stardurst 5210.</b> En effet , le Méga Stardust 5210, soit MM5210, mesure 375 mètres de long avec une hauteur de 275 mètres , possède environ 10 étages et peut accueillir 150 passagers et 50 employés pour une croisière spatiale.Cette nouvelle navette spatiale va nous permettre d'étendre notre catalogue de prestations auprès de vous. Grâce à ce verseau, nous allons pouvoir proposer des voyages spatiaux à l'intérieur de notre système solaire sous la forme d’une croisière.</p>
			</div>
		</div>
		<div class="clearfix"> </div>


	 <br> <br>
	<div class="container">
		<div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" >
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/v1.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>T</span>our du monde +</h3>
								<h3><span>T</span>our de la lune</h3>
								<p></p>
							</figcaption>
						</figure>
					</div>

					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid " >
						 <div class="col-md-12 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid" style="margin-left: 5%">
				 <p style="text-align: center;"> Explorer d’un seul coup d’aile les merveilles du Monde En changeant d’univers toutes les semaines pour s’ouvrir une ébouriffante vision panoramique de la planète terre et La lune : une expérience unique qui va bien au delà de la simple découverte de lieux mythiques ! Un kaleidoscope !
Une aventure humaine à partager avec quelques privilégiés !
</p>
			</div>
		</div>
		<div class="clearfix"> </div>
					</div>

					<div class="clearfix"></div>
		    </div>
	</div>
	<div class="border"></div>
	<div class="container">
		<div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" >
						<div class="col-md-12 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid" style="margin-left: 5%">
				 <p style="text-align: center;"> En plus du Kaleidoscope que nous vous proposons plus haut, nous ajoutons une voyage  toujours à bord de notre Mega Stadurst 5210 de deux magnifiques planètes : Mercure et Vénus.A 57.910.000 km de distance, Mercure est la planète  la plus proche de notre étoile, la première et la plus petite des 8 qui composent le système solaire et Vénus est la planète qui se situe entre Mercure et la Terre.
</p>
			</div>
		</div>
		<div class="clearfix"> </div>
					</div>

					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" style="margin-top: 2%" >
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/v2.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>1</span>ère croisière +</h3>
								<h3><span>1</span>Vénus et Mercure</h3>
								<p></p>
							</figcaption>
						</figure>
					</div>

					<div class="clearfix"></div>
		    </div>
		  <div class="border"></div>

		    <div class="container">
		<div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid" style="margin-top: 7%">
						<figure class="effect-roxy">
							<img style="height: 400px;" src="static/image/v3.jpg" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ystème solaire entier</h3>

								<p></p>
							</figcaption>
						</figure>
					</div>

					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid " >
						<div class="col-md-12 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid" style="margin-left: 5%">
				 <p style="text-align: center;"> Avec vous, voyager dans le système solaire, patiner sur les anneaux de Jupiter, voguer sur la voie lactée, valser autour du Soleil enflammé,camper à l'ombre d'Uranus, jouer à se cacher sur Vénus ,explorer les cratères de la Lune si brillante, galoper sur le dos d'une étoile filante. Telle est l’aventure qu’on vous réserve si vous décidez de prendre la croisière numéro 3. Votre voyage de noces,votre voyage entre amies pour célébrer  l’enterrement de vie de jeune fille vous l'imaginez unique, ne ressemblant à aucun autre voyage ? Alors qu'il soit d'exception en faisant le TOUR DU MONDE et le TOUR DE LA LUNE !

</p>
			</div>
		</div>
		<div class="clearfix"> </div>
					</div>

					<div class="clearfix"></div>
		    </div>
	</div>
	</div>
</div>

<br> <br>

<div class="sale-w3ls">
			<div class="container">
				<h6>Offrez-vous des <span style="color: red;">moments heureux</span> en voyageant dans l'espace</h6>

				<a class="hvr-outline-out button2" href="/reservation">Réservez-maintenant </a>
			</div>
		</div>

    <br /> <br />





<br/><br/><br/>

<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<p class="copy-right">&copy 2019 WSC'Event. Tout droit réservé |  Réalisé par <a>M4TRIX</a></p>
	</div>
</div>

<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>

<script src="static/js/modernizr.custom.js"></script>

<script src="static/js/easy-responsive-tabs.js"></script>
<script>
	$(document).ready(function () {
	$('#horizontalTab').easyResponsiveTabs({
	type: 'default',
	width: 'auto',
	fit: true,
	closed: 'accordion',
	activate: function(event) {
	var $tab = $(this);
	var $info = $('#tabInfo');
	var $name = $('span', $info);
	$name.text($tab.text());
	$info.show();
	}
	});
	$('#verticalTab').easyResponsiveTabs({
	type: 'vertical',
	width: 'auto',
	fit: true
	});
	});
</script>

	<script src="static/js/jquery.waypoints.min.js"></script>
	<script src="static/js/jquery.countup.js"></script>
	<script>
		$('.counter').countUp();
	</script>

<script type="text/javascript" src="static/js/move-top.js"></script>
<script type="text/javascript" src="static/js/jquery.easing.min.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>

	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop',
				containerHoverID: 'toTopHover',
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>

<script type="text/javascript" src="static/js/bootstrap.js"></script>
</body>
</html>
